@import '../../styles/colors.scss';

.inputWrap {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-top: 12px;
  position: relative;

  input {
    flex-grow: 1;
  }

  .status {
    position: absolute;
    right: 0px;

    right: 12px;

    font-size: 12px;

    cursor: help;
  }
}
